{% extends 'base.html' %}

{% block title %}Корзина - {% endblock %}

{% block content %}
<div class="text-center">
    <hr>
    <h2>Ваша корзина</h2>
    <hr>
</div>
<article class="grid-container">

    <table>
        <thead>
        <tr>
            <th>Фото товара</th>
            <th>Товар</th>
            <th>кол-во</th>
            <th></th>
            <th>Цена</th>
            <th>Стоимость</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            <tr>
                <td><a href="{{ item.product.get_absolute_url }}">
                    <img class="thumbnail" src="{{ item.product.img_main }}"></a></td>
                <td><a href="{{ item.product.get_absolute_url }}">{{ item.title }}</a> </td>
                <td>
                    <form action="{% url 'cart:cart_add' item.product.slug %}" method="post">
                        {% csrf_token %}
                        {{ item.update_quantity_form.quantity }}
                        {{ item.update_quantity_form.update }}

                    </td>
                <td><button  type="submit" class="button fi-pencil hollow" name="form"> </button></td></form>
                <td>{{ item.price }} руб.</td>
                <td>{{ item.total_price }} руб.</td>
                <td><a href="{% url 'cart:cart_remove' item.product.slug %}" class="small button alert hollow fi-x"></a></td>
            </tr>
        {% empty %}
        <tr>
            <td colspan="6">Ваша корзина пуста</td>
        </tr>
        {% endfor %}
            <tr>
                <td>Итого</td>
                <td colspan="3">{{ cart.get_total_price }}</td>
                <td colspan="3"></td>
            </tr>
        </tbody>
    </table>

</article>
{% endblock %}


