{% extends 'base.html' %}

{% block content %}
<div class="text-center">

    <h1>Ошибка "404"</h1>
    <h1>Доступ к этой странице ограничен</h1>
</div>



<article class="grid-container">
    <div class="grid-x grid-margin-x small-up-2 medium-up-2 large-up-4">
        {% for catalog in catalogs %}
        {% if catalog.parent != None %}
        <div class="cell"><a href="catalog/{{ catalog.slug }}">
            <img class="thumbnail" src="https://placehold.it/500x250&amp;text={{ catalog.title }}">
            <h5 class="text-center">{{ catalog.title }}</h5></a>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <hr>
    <h4 class="text-center">Блог магазина</h4>
    <hr>
    <div class="grid-x grid-margin-x">
        <div class="cell" style="border-right: 1px solid #E3E5E8;">

            <div class="grid-x grid-margin-x">
                <div class="large-3 cell">
                    <p><img src="https://placehold.it/600x370&amp;text=Look at me!" alt="image for article"></p>
                </div>
                <div class="large-9 cell">
                    <h5><a href="#">'Death Star' Vaporizes Its Own Planet</a></h5>
                    <p>
                        <span><i class="fi-torso"> By Thadeus &nbsp;&nbsp;</i></span>
                        <span><i class="fi-calendar"> 11/23/16 &nbsp;&nbsp;</i></span>
                        <span><i class="fi-comments"> 6 comments</i></span>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit beatae, ipsum
                        delectus aperiam nesciunt magni facilis ullam.</p>
                </div>
            </div>
            <hr>
        </div>
    </div>

</article>
<br>
{% endblock %}